<h1>New Password</h1>

<div>

<form action='/change_password' method='post'>

  <input type='password' name='password' placeholder='Password'>
  <input type='password' name='password' placeholder='Confirm Password'>
  <input type='submit' value='Submit'>

</form>


</div>