<h1>Password Reset</h1>

<div>

<form action='/reset_password' method='post'>

  <input type='text' name='email' placeholder='Email'>
  <input type='submit' value='Submit'>

</form>

<p>You will receive an email with a recovery token shortly, please sign back in with the token</p>

</div>
