<div id='flash-container'>
  <% if flash[:notice] %>
  <div id="flash-notice">
    <%= flash[:notice] %>
  </div>
  <% end %>

  <% if flash[:errors] && !flash[:errors].empty? %>
  <ul id="flash-errors">
    <% flash[:errors].each do |error| %>
    <li>
      <%= error %>
    </li>
    <% end %>
  </ul>
  <% end %>

</div>