<div id='footer'>

  
    <a href='/my_profile' class='footer_nav'>My Favourites</a>
    

     <form method='post' action='/sessions' style=" display:inline!important;">
      
      <input type='hidden' name='_method' value='delete'>
      <input type="submit" value="Sign out" class='sign_out'>
    
    </form>       

</div>