<!DOCTYPE html>
<html>
  
  <head>
    <title>Bookmark Manager</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/application.css'>
    <link rel='stylesheet' type='text/css' href='/stylesheets/reset.css'>
  </head>

  <body>

  <%= partial :header %>

  <div id='content'>

  <%= partial :flash %>


  <%= yield %>

  </div>

  <%= partial :footer %>

  </body>

</html>