<div id="link">
  <form action="/bookmarks" method="post">
    
    <input type="text" name="url" placeholder="URL" class='link'>

    <input type="text" name="title" placeholder="Title" class='link'>

    <input type="text" name="description" placeholder="Description" class='link'>

    <input type="text" name="tags" placeholder="Tags" class='link'>

    <button type="submit" class='link'>Add link</button>

  </form>
</div>