<div class='tag_title'><p class='title'>Popular tags</p></div>

<div class='align_right'>

<ul>


  <% top_tags = LinkTag.aggregate(:tag_id, :all.count).sort_by{|tag_id, freq| freq}.reverse.take(10) %>
  <% top_tags.each do |tag_id, freq| %>

    <% tag = Tag.first(:id => tag_id)%>

    <div class='tag_display'><li>

    <a href='/tags/<%= tag.text %>' class='tag'><%= tag.text %></a>

    </li></div>
  
  <% end %>

</ul>

</div>